/* Base Fixed Styles */
:root {
    --card-background: #FFFFFF; 
    --main-background: #f3f3f3;
    --screen-background: #F6F4F0;    
    --background-shade1: #E2E2E2;    
    /* --active-main-color: #262626; /* #333333 #262626 */ 
    --active-text: #1A1A1A;
    --note-text: #2e2e2e;
    --inactive-text: #7e7e7e;
    --border-black-shade: #B5B5B5;
    --border2-black-shade: #DADADA;
    /* --shade-color: #515151; /* #3c3c3c #676767 #7d7d7d */
    --income-color: #5C98FF; /* #2196f3 #1565c0 #2962ff #1976d2 */
    --expense-color: #FD6255; /* #ff5f5f #ff7171 #e64545 */
    --heading-background: #EF764F;   
    --general-space: 4px 8px;
    --top-fixed-height: 14%;
}


/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common And Targetted Styles */
.income-color {
    color: var(--income-color);
}

.expense-color {
    color: var(--expense-color);
}

.active-item {
    color: var(--expense-color);
}

.active-nav {
    color: var(--active-text);
    border-bottom: 3px solid var(--expense-color);
}

.note {
    color: var(--note-text);
}

.some-space {
    padding: var(--general-space);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}


/* General Body Styles */
body {
    color: var(--inactive-text);
    background-color: #212426;
    font-family: Roboto, Arial, sans-serif;    
}

.wrapper {
    position: relative;
    width: 720px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;  
    background-color: var(--main-background);
}


/* Top Navigation Styles */
.header {
    height: var(--top-fixed-height);
    background-color: var(--card-background);
    border-bottom: 1px solid var(--border2-black-shade);
}

.heading {
    color: var(--card-background);
    width: 100%;
    text-align: center;
    background-color: var(--heading-background);
}

#date-text, #time-text {
    margin-top: 4px;
    font-weight: 300;
}

#time-text {
    margin-bottom: 4px;
}

.month-nav {
    color: var(--active-text);
    width: 100%;
    text-align: center;
    background-color: var(--card-background);
    margin-top: 4px;
    font-size: 18px;
}

.month-nav span {
    margin-left: 8px;
    margin-right: 8px;
}

.month-nav button {
    padding: 5px;
}


/* Main Section Styles */
.main-section {
    width: 100%;
    height: calc(100vh - var(--top-fixed-height));
    display: flex;
    flex-direction: row;
}


/* Nav Section Styles */
.nav-section {    
    width: 120px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
}

.nav-section a {
    color: var(--inactive-text);
    display: flex;
    flex-direction: column;
    padding: 20px;    
}

.nav-section a:hover {
    color: var(--note-text);
}

.nav-section a i {
    font-size: 28px;
}

#trans {
    color: var(--expense-color);
}


/* Content Section Styles */
.content-section {
    width: calc(100% - 120px);
    height: inherit;
    display: flex;
    flex-direction: column;
}

.daily-summary {
    color: var(--note-text);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--card-background);
    border-bottom: 1px solid var(--border2-black-shade);
    padding: var(--general-space);
    font-weight: 400;
}

.income p:last-child {
    color: var(--income-color);
}

.expense p:last-child {
    color: var(--expense-color);
}

.aggregate p:last-child {
    color: var(--active-text);
}

.transactions {
    overflow-y: auto;
}

.card {
    width: 100%;
    margin-top: 8px;
    background-color: var(--card-background);
    font-weight: 400;
}

.card:first-child {
    margin-top: 0;
}

.trans-head {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border2-black-shade);
    border-bottom: 1px solid var(--border2-black-shade);
    padding: 4px 8px;
}

.card:first-child > .trans-head {
    border-top: 0;
}

.trans-entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.trans-entry > div:nth-child(odd) {
    width: 25%;
}

.trans-entry > div:nth-child(even) {
    width: 50%;
}

.trans-entry > div:last-child {
    text-align: right;
}

.card-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-date > div {
    padding-top: 2px;
    padding-bottom: 2px;
}

.day {
    color: var(--active-text);
    font-weight: 700;
    font-size: 24px;       
}

.week-day {
    color: var(--card-background);
    background-color: var(--inactive-text);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 11px;
    margin-right: 4px;
    margin-left: 4px;           
}

.d-period{
    font-size: 14px;
}

.description {
    text-align: left;
}

.add-transaction {
    color: var(--card-background);
    background-color: var(--expense-color);
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 24px;
    padding: 6px 10px;
    border-radius: 50%;
    /* opacity: 0.85; */
}

.add-transaction:hover {
    box-shadow: 2px 5px 8px var(--inactive-text);    
    /* opacity: 1; */
}




/* ###--- ADD TRANSACTIONS PAGE STYLES    ---### */
/* Top Navigation Styles */
.back-nav {    
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 7px;    
}

.back-nav a, .back-nav span {
    padding: 5px;
    color: var(--active-text);
}


/* Nav Section Styles */
#add-expense {
    color: var(--expense-color);
}


/* Expense Form Section */
.expense-section {
    width: 100%;
    background-color: var(--card-background);    
}

.form-section {
    width: 100%;
    height: 100%;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;    
}

.form-section form {
    height: 100%;
    font-size: 18px;
}

.entry-labels {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.entry-labels div {
    padding: 14px 4px
}

.entry-inputs {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type=date], input[type=time], input[type=number], select {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 1px solid var(--border2-black-shade);
    font-size: 18px;
}

input[type=date]:focus, input[type=time]:focus, input[type=number]:focus, select:focus {
    outline: none;
    border-bottom: 2px solid var(--expense-color);
}

.entry-inputs div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-submit {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.form-submit button {
    width: 100%;
    color: var(--card-background);
    padding: 14px 20px;
    background-color: var(--expense-color);
    opacity: 0.9;
    font-size: 18px;
    font-weight: 500;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 3px;
}

.form-submit button:hover {
    opacity: 1;
}